.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px ridge rgba(1, 0, 0, .2);
    margin: none;
}
.logo{
    width: 10vw;
    padding: 1vw;
}
.mobile, .wholesale, .library, .search-section, .cart{
     display: flex;
     justify-content: center;
      align-items: center;
     padding: 1vw;
     font-size: small;
     opacity: 0.5;
}
.library{
     margin-right: auto;
}
.mobile img{
     height: 7vh;
     padding: 1vw;
}
.wholesale img{
      height: 7vh;
     padding: 1vw;
}
.library img{
     height: 7vh;
     padding: 1vw;
}
.cart img{
     height: 10vh;
     padding: 1vw;
}
.search-section{
     margin-right: auto;
}

.main-header .login{
     margin-right: 5vw;
}