.product-detail-wrapper{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-preview, .product-details{
    width: 50%;
}
.product-preview{
    display: flex;
}
.product-thumbnail{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.product-thumbnail img{
    max-width: 85px;
    max-height: 65px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .8);
    margin: 10px;
}
.product-preview-image{
    box-sizing: border-box;
}
.product-preview-image img{
    width: 500px;
    height: 500px;
}
.action-buttons{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.action-buttons__cart{
    margin-left: 10px;
    width: 245px;
    height: 50px;
    background: #000000;
    color: #ffffff;
}
.action-buttons__buy{
    margin-left: 10px;
    width: 245px;
    height: 50px;
    background: #000000;
    color: #ffffff;
}